body {
    padding: 0px;
    margin: 0px;
}

.Logo {
    background-color: black;
    height: 60px;
    margin-bottom: 20px;
}

.side {
    position: relative;
    width: 900px;
    height: 900px;
    border: 1px solid #ffffff;
    margin-left: 40px;
}

.head {
    background-color: #a19f9f;
    width: 900px;
    height: 35px;
    margin-bottom: 25px;
}

.h1 {
    background-color: #696969;
    display: block;
    margin-right: 20px;
    height: 35px;
    width: 200px;
    margin-bottom: 35px;

}

.h2 {
    background-color: #696969;
    display: block;
    height: 35px;
    width: 200px;
    margin-bottom: 35px;
}

.h3 {
    position: absolute;
    right: 0;
    height: 872px;
    width: 220px;
    border: 3px solid #b5b2b2;

}

.img {
    background-color: #8a8989;
    display: block;
    height: 210px;
    width: 200px;
    margin-right: 20px;
}

.img2 {
    background-color: #8a8989;
    display: block;
    height: 210px;
    width: 200px;

}

.t1 {
    background-color: #d2cfcf;
    height: 12px;
    width: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

.t2 {
    background-color: #d2cfcf;
    height: 12px;
    width: 200px;
    margin-top: 20px;
}

.lf {
    background-color: #696969;
    width: 640px;
    height: 90px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.footer {
    background-color: #a19f9f;
    height: 25px;
    margin-top: 60px;
}

.img3 {
    background-color: #8a8989;
    position: absolute;
    top: 80px;
    right: 50px;
    width: 400px;
    height: 450px;
}

.t4 {
    background-color: #8a8989;
    position: absolute;
    top: 540px;
    right: 50px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.img4 {
    background-color: #acabab;
    position: absolute;
    top: 610px;
    right: 260px;
    width: 190px;
    height: 165px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.t5 {
    background-color: #c2c0c0;
    position: absolute;
    top: 610px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t6 {
    background-color: #c2c0c0;
    position: absolute;
    top: 650px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t7 {
    background-color: #c2c0c0;
    position: absolute;
    top: 690px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t8 {
    background-color: #c2c0c0;
    position: absolute;
    top: 719px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t9 {
    background-color: #c2c0c0;
    position: absolute;
    top: 749px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t10{
    background-color: #c2c0c0;
    position: absolute;
    top: 770px;
    right: 50px;
    width: 400px;
    height: 13px;
    margin-top: 30px;
}

.l1{
    background-color: #8a8989;
    position: absolute;
    top: 760px;
    right: 50px;
    width: 400px;
    height: 3px;
    margin-top: 56px;
}

.img5 {
    background-color: #acabab;
    position: absolute;
    top: 830px;
    right: 260px;
    width: 190px;
    height: 165px;
   
}

.t11 {
    background-color: #c2c0c0;
    position: absolute;
    top: 830px;
    right: 50px;
    width: 190px;
    height: 13px;
}

.t12 {
    background-color: #c2c0c0;
    position: absolute;
    top: 850px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 10px;
  
}

.t13 {
    background-color: #c2c0c0;
    position: absolute;
    top: 875px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 20px;
}

.t14 {
    background-color: #c2c0c0;
    position: absolute;
    top: 900px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 30px;
}

.t15 {
    background-color: #c2c0c0;
    position: absolute;
    top: 925px;
    right: 50px;
    width: 190px;
    height: 13px;
    margin-top: 40px;
}

.t16{
    background-color: #c2c0c0;
    position: absolute;
    top: 955px;
    right: 50px;
    width: 400px;
    height: 13px;
    margin-top: 50px;
}
